@import './base.css';

:root {
    --highlight: #245b47;
}

button,
.button {
    padding: 8px 12px;
    border: 2px solid #0000;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 700;
    color: #eee;
    fill: #eee;
    background-color: #191919;

    &:hover {
        background-color: var(--highlight);
    }

    &.text {
        background-color: transparent;
        padding: 0;
    }

    &.icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

input {
    background-color: transparent;
    border: 1px solid var(--highlight);
    border-radius: 8px;
    padding: 8px 12px;
    color: #eee;

    &:focus-visible {
        outline: none;
    }
}

h1,
h2,
h3 {
    width: 100%;
    text-align: center;
}

/*--------------------------------------------------------------------------------------------
------------------------------------------- LAYOUT -------------------------------------------
--------------------------------------------------------------------------------------------*/
.page {
    margin: 0;
    background-color: #121212;
    color: #eee;
    font-family: Arial, sans-serif;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

.sidebar-page {
    margin: 0;
    background-color: #121212;
    color: #eee;
    font-family: Arial, sans-serif;

    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-areas:
        "header header"
        "aside main"
        "footer footer";
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-area: header;
    background-color: #191919;
    margin-bottom: 15px;

    & div {
        display: flex;
        /* flex-grow: 1; */
        flex: 1 0 33.333%;
    }
}

.sidebar {
    grid-area: aside;
}

main {
    padding: 10px;
    grid-area: main;
}


/*--------------------------------------------------------------------------------------------
-------------------------------------- UTILITY CLASSES ---------------------------------------
--------------------------------------------------------------------------------------------*/
.clickable {
    cursor: pointer;
}

/*---------------------------------------------
------------------ ALIGNMENT ------------------
---------------------------------------------*/
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-center-v {
    display: flex;
    align-items: center;
}

.flex-center-h {
    display: flex;
    justify-content: center;
}

/*---------------------------------------------
-------------- TEXT & TYPOGRAPHY --------------
---------------------------------------------*/
.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.small-text {
    font-size: 0.8rem;
}